/* ----------------------------- */
/* 전체 */
/* ----------------------------- */

/* 메인 콘텐츠 영역 */
main {
    padding: 40px 0; /* 상하 여백 */
    background-color: #f9f9f9; /* 배경색 */
}

/* 콘텐츠 영역 */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* 콘텐츠 영역 (텍스트 , 이미지) */
.card-recommendation {
    display: flex; /* 좌우로 배치 */
    align-items: center; /* 수직 정렬 가운데 */
    justify-content: space-between; /* 좌우 간격 최대로 */
}

/* ----------------------------- */
/* 왼쪽 텍스트 영역 */
/* ----------------------------- */

/* 왼쪽 텍스트 영역 */
.text-content {
    flex: 1; /* 남은 공간의 50% 차지 */
}

/* 왼쪽 텍스트 영역 타이틀 */
.text-content h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2; /* 행간 좁게 */
    color: #000; /* 검정색 */
}

/* 왼쪽 텍스트 영역 설명 */
.text-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

/* 카드 버튼 영역 */
.card-tags {
    display: flex; /* 플렉스 박스로 정렬 */
    flex-wrap: wrap; /* 자동 줄바꿈 */
    gap: 10px; /* 태그간 간격 */
    margin-bottom: 30px;
}

/* 개별 카드 버튼 스타일  */
.tag {
    border: 1px solid #0078d7; /* 파란색 테두리 */
    background-color: #fff; /* 흰 배경 */
    color: #0078d7; /* 파란 글씨 */
    padding: 8px 15px; /* 내부 여백 */
    border-radius: 20px; /* 둥글게 */
    font-size: 14px; 
    cursor: pointer; /* 마우스 오버시 커서 변경 */
    transition: all 0.3s; /* hover 시 부드럽게 전환 */
}

/* 카드 버튼에 hover 시 */
.tag:hover {
    background-color: #0078d7; /* 배경 파란색으로 */
    color: #fff; /* 폰트 흰색으로 */
}

/* 명세서 이미지 찾기 버튼 */
.find-btn {
    background-color: #0078d7; /* 파란 배경 */
    color: #fff; /* 흰 글씨 */
    border: none; /* 테두리 제거 */
    padding: 12px 30px; /* 내부 여백 */
    border-radius: 30px; /* 둥글게 */
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s; /* hover 시 부드럽게 전환 */
}

/* 찾기 버튼 hover 시 */
.find-btn:hover {
    background-color: #005fa3; /* 진한 파란 색 */
}

/* ----------------------------- */
/* 오른쪽 이미지 영역 */
/* ----------------------------- */

/* 이미지 콘텐츠 영역 */
.image-content {
    flex: 1;
    text-align: center;
}

/* 이미지 크기 조정 */
.image-content img {
    max-width: 100%;
    height: auto;
}

.ocr-result-section {
  margin-top: 60px;
  background: #f9f9f9;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.ocr-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
}

.ocr-table th, .ocr-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.ocr-table th {
  background-color: #f0f0f0;
  font-weight: bold;

}
